*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f2ef;
}
.signup{
    background-color: #fff;
    padding: 2.5rem;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.signup h2{
    margin-bottom: 1rem;
    font-size: 20px;
    color: #333;
}
.registration-form label{
    float: left;
}
.registration-form input, .registration-form select{
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group{
    margin-bottom: 7px;
}
.row{
    display: flex;
    gap: 1rem;
}
.row .form-group {
    flex: 1;
}
.gender{
    margin-bottom: 10px;
}
.gender label{
    margin-bottom: 3px;
}
.gender-options{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.gender-options label{
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}
.button-container{
    margin-top: 1.5rem;
}
.button-container button{
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #0073b1;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-container button:hover{
    background-color: #005580;
}
  